<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Herzliche Willkomen bei der Open Innovation Plattform Krankenhaus 4.0!</h1>
    <br>
    <p>Ihre Anmeldung wurde erfolgreich ausgeführt und Sie können ab sofort die Angebote der Webseite nutzen.</p>
    <p>Finden Sie neue Partner für F&E-Projekte und entdecken Sie neue Kooperationsmöglichkeiten rund um das Thema Krankenhaus 4.0.</p>
    <p>Sie können nun Anzeigen auf der Webseite platzieren und direkten Kontakt zu weiteren Mitgliedern aufnehmen. Das ganze ist für Sie vollkommen kostenlos.</p>
    <br>
    <p> Kontaktieren Sie uns jederzeit, wenn Sie Fragen haben.</p>
    <br>
    <p>Freundliche Grüße,<br>
    Ihr Open Innovation Team.</p>
  </body>
</html>