<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Eine neue Firma hat sich angemeldet:<br>
    <br>
    Typ: <% @data.typus %><br>
    <br>
    Name: <%= @data.name %><br>
    <br>
    Beschreibung: <%= @data.description %><br>
    <br>
    Website: <%= @data.website %><br>
  </body>
</html>


