<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Sehr geehrter Open Innovation Teilnehmer,</h2><br>
    <br>
    neue Projektangebote sind auf der Webseite eingestellt worden, die zu ihren
    Suchkriterien passen!<br>
    <br>
    Schauen Sie doch mal rein und finden Sie neue Kooperationsmöglichkeiten rund um 
    das Thema Krankenhaus 4.0.<br>
    <br>
    Neue Projektmöglichkeiten:<br>
    <br>
    <a href="https://plattform.if-krankenhaus.de/match/<%=@data['id'].to_s%>"><%=@data['title'].to_s%></a><br>
    <br>
    <br>
    Freundliche Grüße,<br>
    Ihr Open-Innovation Team</p>
  </body>
</html>