<!DOCTYPE html>
<html ng-app>
<head>
  <title>MediMeet</title>
  <%= stylesheet_link_tag "/assets/stylesheets/vendor.bundle.css" %>
  <%= stylesheet_link_tag "/assets/stylesheets/app.bundle.css" %>
  <meta charset="utf-8" />
</head>
<body>
  <div class="container container-full container-topmargin">
    <div class="container">
      <%= yield %>
    </div>
  </div>
  <%= javascript_include_tag "/assets/javascripts/vendor.bundle.js" %>
</body>
</html>
